@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">travel</h1>
    <p> <a href="https://phptravels.com/demo">phptrvelsindia</a></p>
</div>
